.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #add8e6;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }


.app-drop-down-container {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 45px;
  margin-bottom: 5px;
}
.app-drop-down-container button {
  padding: 5px 10px;
  box-shadow: 0 0 25px -20px #dbdbdb;
  flex: 1;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  border: .3px solid #919191;
}

.app-drop-down-container ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(100% + 5px);
  min-width: 100%;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* padding: 10px; */
  border-radius: 4px;
  box-shadow: 0 0 5px #d4d4d4;
  list-style: none;
}

.app-drop-down-container ul li{
  background-color: #fcfcfc;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color ease .2s;
}
.app-drop-down-container ul li:hover{
  background-color: #000000;
  color: #fcfcfc;
}


