.rightContainer {
    justify-content:end;
    float: right;
    margin-left: 30px;

}
.middleContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leftContainer {
    margin-right: 150px;
}

.saveButton {
    font-weight: 700;
    text-transform: none;
    font-size: 1em;
    text-align: center;
    color: #000000;
    padding: 8px 0px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 10%;
    cursor: pointer;
    background-color: #f9f9f9;
  }
  
  .saveButton:hover {
    background-color: #9dcccd
  }

  .elderlyData{
        background: white;
        width: 280px;
        height: 9vh;
        display: flex;
        flex-direction: column;
        text-align: center; 
        border-radius: 15px;
        box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
  }

  .app-drop-down-container {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 45px;
    margin-bottom: 5px;
  }
  .app-drop-down-container button {
    padding: 5px 10px;
    box-shadow: 0 0 25px -20px #dbdbdb;
    flex: 1;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    border: .3px solid #919191;
  }
  
  .app-drop-down-container ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(100% + 5px);
    min-width: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 2px;
    /* padding: 10px; */
    border-radius: 4px;
    box-shadow: 0 0 5px #d4d4d4;
    list-style: none;
  }
  
  .app-drop-down-container ul li{
    background-color: #fcfcfc;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color ease .2s;
  }
  .app-drop-down-container ul li:hover{
    background-color: #000000;
    color: #fcfcfc;
  }